.signin-input {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: .5rem;
    width: 100%;
}

.signin-input .IdPw-input-box {
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.signin-input .IdPw-input-box input {
    width: 100%;
    padding: 0.8rem 1rem 0.7rem;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    font-size: 0.75rem;
}

.login-btn {
    width: 100%;
    padding: 0.6rem;
    border-radius: 6px;
    border: 2px solid rgb(250, 112, 154);
    background-color: rgb(250, 112, 154);
}

.login-text {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.signin-input .signin-function {
    color: #8e8e8e;
    display: flex;
    font-size: .7rem;
    padding: 1rem 0;
    justify-content: center;
}

.signin-input .signin-function .function {
    color: #8e8e8e;
    display: flex;
    font-size: .7rem;
    padding: 1rem 0;
    align-items: center;
    text-decoration: none;
}

.signin-input .signin-function .function::after {
    background: #bfbfbf;
    content: "";
    display: inline-block;
    height: .9rem;
    margin: 0 .5rem;
    width: 1px;
}