.slick-list {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.slick-list img {
    width: 700px;
    height: 300px;
}

.slick-list div {
    width: 2100px;
    height: 300px;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -700px;
    }

    65% {
        margin-left: -700px;
    }

    70% {
        margin-left: -1400px;
    }

    95% {
        margin-left: -1400px;
    }

    100% {
        margin-left: 0;
    }
}